<%= form_for( @student, as: :student, url: :login_process, method: :post ) do |f| %>

   <% if @student.errors.any? %>
  <div id="error_messages">
    <ul>
    <% @student.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "Login" %>
  </p>
<% end %>

<%= link_to "To Bueller", students_path %>