<%= form_for @student do |f| %>
  <% if @student.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@student.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @student.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>

  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname %>
  </p>
 
 <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
 </p>

 <p>
    <%= f.label :imageURL %><br>
    <%= f.text_field :imageURL %>
 </p> 

 <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
 </p>

 <p>
    <%= f.label :password_confirmation %><br>
    <%= f.text_field :password_confirmation %>
 </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
