<div class="page-header">
  <h1>Bueller</h1>
</div>

<% @students.each do |student| %>
  <div id="<%=dom_id(student)%>" class="list-item">
    

    <div class="info-block">
      <%= image_tag student.imageURL, size: "150x150" %>
      <b><%= student.name %></b>
      <em>(<%= student.nickname %>)</em>
      <%= student.email %>
      
    </div>
  </div>
<% end %>