<div class="page-header">
</div>

<h1>Attendance</h1>
<h3><%= Date.today %></h3>
<div class="col-1-3">
<p>Quadrant 1</p>
<% @in_seat_1.each do |student| %>
  <%= student.nickname %>
  <br>
  <%= image_tag student.imageURL, size: "150x150" %>
  <% end %>
</div>
<div class="col-2-3">
<p>Quadrant 2</p>
<% @in_seat_2.each do |student| %>
  <%= student.nickname %>
  <br>
  <%= image_tag student.imageURL, size: "150x150" %>
  <% end %>
</div>
<div class="col-1-3">
<p>Quadrant 3</p>
<% @in_seat_3.each do |student| %>
  <%= student.nickname %>
  <br>
  <%= image_tag student.imageURL, size: "150x150" %>
  <% end %>
</div>
<div class="col-2-3">
<p>Quadrant 4</p>
<% @in_seat_4.each do |student| %>
  <%= student.nickname %>
  <br>
  <%= image_tag student.imageURL, size: "150x150" %>
  <% end %>
</div>

<div class="col-1-3">
<p>Absent</p>
<% @absent.each do |student| %>
  <%= student.nickname %>
  <br>
  <%= image_tag student.imageURL, size: "150x150" %>
  <% end %>
</div>



