<div class="page-header">
</div>

<h1>Attendance</h1>
<h3><%= Date.today %></h3>

    <p>Quadrant 1</p>
    <% @in_seat_1.each do |student| %>
      <%= student.nickname %>
      <br>
      <%= image_tag student.imageURL, size: "150x150" %>
    <br>
    <% end %>

    <p>Quadrant 2</p>
    <% @in_seat_2.each do |student| %>
      <%= student.nickname %>
      <br>
      <%= image_tag student.imageURL, size: "150x150" %>
      <br>
      <% end %>

    <p>Quadrant 3</p>
    <% @in_seat_3.each do |student| %>
      <%= student.nickname %>
      <br>
      <%= image_tag student.imageURL, size: "150x150" %>
      <br>
      <% end %>

    <p>Quadrant 4</p>
    <% @in_seat_4.each do |student| %>
      <%= student.nickname %>
      <br>
      <%= image_tag student.imageURL, size: "150x150" %>
      <br>
      <% end %>

  <p>Absent</p>
  <% @absent.each do |student| %>
    <%= student.nickname %>
    <br>
    <%= image_tag student.imageURL, size: "150x150" %>
    <% end %>





