<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>
 
<p>
  <strong>Nickname:</strong>
  <%= @student.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>
 
<p>
  <strong>Image:</strong>
  <%= @student.imageURL %>
</p>

<%= link_to 'Back', students_path %>
<%= link_to 'Edit', edit_post_path(@student) %>
