<h1>Bueller</h1>

<p id="notice"><b><%= flash[:notice] %></b></p>

<%= link_to 'Create a New Student', new_student_path %>
<br />
<br /> 

<table>
  
 
  <% @students.each do |student| %>
    <tr>
      <td><%= link_to image_tag(student.imageURL, size: "200x200") %></td>
      <td><p><%= student.name %></p></td>
      <td><%= student.nickname %></td>
      <td><%= student.email %></td>
      <td><%= link_to 'Show', student %></td>
      <td><%= link_to 'Edit', edit_student_path(student) %></td>
      <td><%= link_to 'Destroy', student_path(student),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

