<!DOCTYPE html>
<html>
<head>
  <title>NkuRails</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if @current_student %>
  <div>Hello, <%= @current_student.name %></div>
  <%= link_to "Edit Profile", edit_path %>
  <%= link_to "Sign Out", logout_path %>
  <%= link_to "I'm here!", get_attendance_path %>
<% else %>
  <%= link_to "Sign Up", new_student_path %>
  <%= link_to "Sign In", login_page_path %>
<% end %>

<% if flash[:error] -%>
  <p class='error'><%=h flash[:error] %></p>
<% end -%>
<% if flash[:notice] -%>
  <p class='notice'><%=h flash[:notice] %></p>
<% end -%>

<%= yield %>

</body>
</html>
